* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* // */
footer {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 10px 85px;
    background: #393e46;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer #container {
    display: inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 480px;
    margin: 0px;
    position: absolute;
    right: 0px;
}
nav ul li a:hover {
    color: #00adb5;
    transition-duration: 1s;
}
nav ul li a {
    transition-duration: 1s;
}
footer .aboutus {
    width: 500px;
    position: relative;
    right: 0px;
}

footer h2 {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

footer h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #00adb5;
}

footer p {
    color: #999;
    width: 460px;
    text-align: justify;
}

.sci {
    margin-top: 30px;
    display: flex;
    position: relative;
    right: 60px;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    left: 60px;
    top: 20px;
}

.sci li a:hover {
    background: #00adb5;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quicklinks {
    position: relative;
    width: 25%;
    margin-left: 17px;
}

.quicklinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quicklinks ul li a:hover {
    color: #fff;
}

.quicklinks ul li {
    list-style: none;
}

.contact {
    position: absolute;
    width: calc(35% - -144px);
    margin-right: 0 !important;
    display: inline-block;
    left: 0px;
    top: 0px;
}

.contant .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.cpayright {
    width: 100%;
    background: #181818;
    padding: 8px 370px;
    text-align: center;
    color: #999;
    position: relative;
    top: 190px;
}

.cpayright p {
    width: 460px;
    margin-left: 80px;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
        width: 480px;
    }
    footer .container .sec.aboutus,
    .quicklinks,
    .contact {
        width: 100px;
    }
    .copyright {
        padding: 8px 40px;
    }
}

.row {
    margin-left: 110px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(57, 62, 70);
    padding-right: 687px;
}

nav ul li {
    display: inline;
    margin: 0 auto;
    padding-right: 100px;
    position: relative;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition-duration: 1s;
}

.a1 {
    position: relative;
    left: 300px;
}


body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
    font-family: 'Shippori Mincho', serif;
}

.team {
    padding: 50px 0;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 50px auto;
}

.row {
    position: relative;
    left: 50%;
    margin-left: -580px;
    top: 100px;
    width: 1350px;
}

.row h1 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 10%;
}

.row p {
    margin: 20px 0 0;
    color: #fff;
    padding-left: 20px;
}

.row .column {
    margin: 25px 10px;
    position: relative;
    width: calc(15% - -45px);
    min-height: 250px;
    background: #fff;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 30px;
}

.row .column:before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(57, 62, 70);
    z-index: 1;
    transition: 0.5s;
    mix-blend-mode: soft-light;
}

.row .column:hover:before {
    bottom: 0;
}

.mgt50px {
    margin-top: 50px;
}

.row .column .imgbox {
    position: relative;
}

.row .column .imgbox img {
    width: 100%;
    height: 300px;
    transition: 5s;
    filter:saturate(100%);
}
.row .column .imgbox img:hover {
    
    transition: 5s;
}
.row .column:hover .imgbox img {
    transform: scale(1.5);
    filter:saturate(0%);
}

.row .column .details {
    position: absolute;
    bottom: -85px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.644);
    width: 130%;
    transition: .05s;
    z-index: 2;
}

.row .column:hover .details {
    bottom: 0;
}

.row .column .details h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.row .column .details h3 span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top: -6px;
    position: relative;
    right: 45px;
}

.row .column .details ul {
    margin: 0px auto;
    padding: 0;
    display: flex;
    margin-top: 10px;
    position: relative;
    left: 35px;
}

.row .column .details ul li {
    list-style: none;
}

.row .column .details ul li a {
    padding: 0 10px;
    color: #fff;
}

.row .column .details ul li a .fa {
    transition: 0.5s;
}

.row .column .details ul li a:hover .fa {
    transform: rotateY(360deg);
    color: #f00;
}

nav ul {
    position: absolute;
    top: 42px;
    background-color: rgb(57, 62, 70);
    right: 0px;
    
    
}

nav ul li {
    display: inline;
    padding-right: 100px;
    margin: 0 auto;
    background-color: rgb(57, 62, 70);
}
nav ul li a:hover{
    color: #00adb5;
            transition-duration: 1s;
}
#header2 {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(57, 62, 70);
}

#logo {
    width: 290px;
}

header {
    background-color: rgb(57, 62, 70);
    z-index: 100;
}

a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
}

#head {
    position: relative;
    width: 960px;
    margin: 0 auto;
    left: 50%;
    margin-left: -480px;
    top: 130px;
    font-family: 'Rubik', sans-serif;
}

main h2 {
    margin: 0 auto;
    font-size: xx-large;
    text-align: center;
    color: #00adb5;
    text-transform: uppercase;

}

.border {
    position: relative;
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #666;
    margin-bottom: 40px;
    top: 15px;
}

#para {
    width: 960px;
    left: 50%;
    margin-left: -480px;
    position: relative;
    text-align: justify;
    line-height: 35px;
    font-size: 20px;
    text-align-last: center;
}

.row h2 {
    position: relative;
    margin-left: 7px;
}

main {
    width: 960px;
    margin: 0 auto;
}

.row .border {
    position: relative;
}
#bigFooter{
    width: 1150px;
    position: relative;
    left: 50%;
    margin-left: -575px;
    font-family: 'Rubik', sans-serif;
}